* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

 @font-face {
  font-family:my-font-one;
  src: local("Font/karmatic-arcade/ka1.ttf") format('woff2');
}

@font-face {
  font-family:'my-font-2'; 
  src: local("Font/lower-pixel/LowresPixel-Regular.otf") format('woff2');
}

html {
  font-size: 16px;
}

body {
  min-height: 100vh;
  font-family:my-font-one;
  background-image:url(bg_photo.jpg);
  background-size:cover;
  background-repeat: no-repeat;
  display: flex;
  font-family: my-font-one;
  flex-direction: column;
  align-items: center;
}

/* NAV BAR */
#nav-bar {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  gap:2rem;
  width:100%;
  max-width: 70rem;
  height: 4rem;
  margin:1rem auto;
  border: 2px white solid;
  color:white;
  background-color:black;
  text-align: center;
}

#port-in-nav{
  font-family:fantasy;
  margin-top: 1.30rem;
  font-size: xx-large;
  color: white;
}

#main-in-nav,#about-me-in-nav, #projects-in-nav{
  color: white;
  font-size: x-large;
  margin-left: 1.26rem;
}
#main-in-nav{
  margin-left:15rem;
}

#nav-bar span{
  cursor: pointer;
  font-size: 3.25rem;
}

#my-photo{
  size: 40%;
  position: relative;
}

#main-bar {
  width: 60rem;
  min-height: 60vh;
  border:2px solid white;
  margin-top: 10rem;
  display: flex;
  background-color: black;
}

#my-name{
  color:white;
font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
margin-top: 2.50rem;
margin-left: 25rem;
}

#main-para{
  color:white;
font-family:monospace;
margin-top: 2.50rem;
margin-left: 25rem;
}



/* MOBILE */
@media (max-width: 768px) {
  #nav-bar {
    flex-direction: column;
    height: auto;
    gap: 1rem;
  }

  #main-bar {
    width: 100%;
    min-height: auto;
  }}